.navbar {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 22;

  &__logo {
    cursor: pointer;
    transition: all 0.2;
    position: absolute;
    top: 50%;
    color: var(--bg-color);
    transform: translate(0, -50%);
    left: 50px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    &-text {
      margin-left: 10px;
      font-size: 25px;
      position: relative;
      font-weight: bold;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      &::after {
        content: "Implantes";
        font-size: 13px;
        position: absolute;
        bottom: -10px;
        right: 0;
      }
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}
.navbar__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100px;
  transition: all 0.2s;
  top: 0;
  left: 0;
  z-index: 21;
  .navbar__menu-item.navbar__menu-item__active {
    &::before {
      content: "";
      height: 2px;
      width: 100%;
      background: var(--bg-color);
      position: absolute;
      right: 0;
      bottom: 30px;
      transition: all 0.2s;
    }
  }
  .navbar__menu-item {
    padding: 37px 5px;
    font-weight: bold;
    margin: 0 25px;
    color: black;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    &::after {
      content: "";
      height: 2px;
      width: 0px;
      background: var(--bg-color);
      position: absolute;
      right: 0;
      bottom: 30px;
      transition: all 0.2s;
    }
    &:hover::after {
      width: 50%;
    }
    &::before {
      content: "";
      height: 2px;
      width: 0px;
      background: var(--bg-color);
      position: absolute;
      left: 0;
      bottom: 30px;
      transition: all 0.2s;
    }
    &:hover::before {
      width: 50%;
    }
  }
}

.sticky {
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgb(43, 43, 43);
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 895px) {
  .sticky {
    box-shadow: none;
  }
  .navbar__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px 0px 0px;
    height: auto;
    position: sticky;
    top: 0;
    .navbar__menu-item.navbar__menu-item__active {
      &::before {
        bottom: 5px;
      }
    }
    .navbar__menu-item {
      padding: 10px 5px 10px 5px;
      margin: 0px 20px;
      white-space: nowrap;
      &::after {
        bottom: 5px;
      }
      &::before {
        bottom: 5px;
      }
    }
  }
  .navbar {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 20px;
    &__logo {
      padding: 10px 0 0px 0;
      left: 50%;
      top: 35px;
      transform: translate(-50%, -50%);
      &-text {
        display: none !important;
      }
    }
  }
}
