.content {
  scroll-padding: 50px 0 0 50px;
  .home__start {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    background: linear-gradient(0deg, #0066a1d2, #ffffff81),
      url(../../../assets/img/arseny-togulev-DE6rYp1nAho-unsplash.jpg) no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .home__bellow {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    &-services {
      font-size: 40px;
      margin: 0 0 20px 0;
      font-weight: bold;
      font-family: "Rubik", sans-serif;
      text-align: center;
    }
    &-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .title {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 90%;

    font-size: 60px;
    // background:  var(--bg-color);
    padding: 5px;
  }

  .desc {
    text-align: center;
    margin-top: 30px;
    font-family: "Rubik", sans-serif;
    color: black;
    font-size: 20px;
  }

  .btn {
    text-align: center;
    margin-top: 40px;
    position: relative;
    color: black;
  }
  .hand {
    display: none;
    margin-top: 120px;
    transform: rotate(45deg);
    animation-name: handscroll;
    animation-duration: 1s;

    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

@media only screen and (max-width: 595px) {
  .content {
    .btn {
      display: none;
    }
    .hand {
      display: block;
    }
    .home__start {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .title {
      font-size: 30px;
      width: 85%;
      margin-top: 100px;
    }
    .desc {
      margin-top: 20px;
      width: 85%;
    }
  }
}
@media only screen and (max-width: 895px) {
  .content {
    .title {
      font-size: 30px;
      width: 85%;
      margin-top: 100px;
    }
    .desc {
      margin-top: 20px;
      width: 85%;
    }
  }
}

// @keyframes arrow-down {
//   0% {
//     opacity: 0;
//     transform: translate(0, -14px);
//   }
//   25% {
//     // opacity: 1;
//   }
//   50% {
//   }
//   75% {
//     opacity: 1;
//     // opacity: 1;
//   }
//   100% {
//     // opacity: 0;
//     transform: translate(0, -7px);
//   }
// }

@keyframes handscroll {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -20px);
  }
}
